@charset "utf-8";
/* CSS Document */


#wrapper{
	width:1366px;
	height:1000px;
/*	background-color:#999999;*/
}


nav{
	width:1366px;
	height:120px;
	background-image:url(../images/%E5%95%86%E5%93%81%E3%83%9A%E3%83%BC%E3%82%B8%E3%83%8A%E3%83%93%E8%83%8C%E6%99%AF.jpg);
	/*background-color:#000000;*/
}

body{
	font-family:"Courier New";
	line-height:2;
	font-feature-settings:"palt";
	color: #2B2B2B;
}

h1 {
	font-weight: normal;
}

*{
	margin:0;
	padding:0;
}

img{
	border:none;
}

a{
	text-decoration:none;
}

li{
	list-style-type:none;
}

nav{
	width:1366px;
	height:120px;
/*	background-color:white;*/
	margin:0 auto;
}



nav ul{
	 display:flex;
	 justify-content:center;
	 margin:0 auto;
}

nav ul li{
	padding:3px 14px;
	margin:11px;
}

nav ul h1{
	font-size:50px;
	color:#3F382C;
	text-align:center;
}

nav ul li a{
	font-size:55px;
	vertical-align:text-top;
	text-align:center;
	color:#3F382C;
	text-align:center;
	letter-spacing:0.15em;
}

span{
	vertical-align:middle;
	font-size:25px;
	color:#84775A;
	margin-left:70px;
	margin-right:40px;
	letter-spacing:0.2em;
}
.back{
	font-size:18px;
	text-decoration:underline;
}

.back:hover{
	opacity:0.5;
	transition:0.4s;
}

#shoes01:hover{
	opacity:0.5;
	transition:0.4s;
}


#modoru:hover{
	opacity:0.5;
	transition:0.4s;
}


#susumu:hover{
	opacity:0.5;
	transition:0.4s;
}

#accesary01:hover{
	opacity:0.5;
	transition:0.4s;
}
	

#contents{
	width:1366px;
	height:880px;
/*	background-color:#FF0000;*/
}


#main{
	width:629px;
	height:878px;
/*	background-color:#0000FF;*/
	float:left;
}


#sub01{
	width:736px;
	height:470px;
	/*background-color:#FFFF00;*/
	float:right;
}

#sub01 img:hover{
	opacity:0.5;
	transition:0.4s;
}



#sub02{
	width:736px;
	height:410px;
	/*background-color:#F0F;*/
	float:right;
}

#sub02 img:hover{
	opacity:0.5;
	transition:0.4s;
}